 /* MediaQueries pour responsive design */
 @media screen and (max-width: 992px)
{
    
}
* {
    margin-left: 1%;
    margin-right: 1%;
}

h1
{
    display: none;
}

h2
{
    font-family: 'Raleway', Arial, Helvetica;
    font-weight: 700;
    color:#000000;
}

h3 
{
    font-family: 'Raleway', Arial, Helvetica;
    color:#000000;
}

h4
{
    font-family: 'Raleway', Arial, Helvetica;
    color:#000000;
}

a {
    font-family: 'Raleway', Arial, Helvetica;
}

p
{
    font-family: 'Raleway', Arial, Helvetica;
    color:#000000;
}

#logobooki {
    float: left;
    margin-top: 3.5%;
    width: 7%;
    height: 6%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway', Arial, Helvetica;
}

.nav {
    list-style-type: none;
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.nav-item a:hover {
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 53px;
}

a:visited {
    color: #000000;
}

a {
    text-decoration: none; 
}

#cityname {
    font-family: 'Raleway', Arial, Helvetica;
    border: none;
}

.citysearch {
    font-family: 'Raleway', Arial, Helvetica;
    background-color: #0065FC;
    color: #FFFFFF;
    border: 0.5px #0065FC;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

#searchbar {
    display: flex;
    justify-content: space-between;
    height: 50px; 
    width: 25%;
    border: 1px solid #F2F2F2;
    border-radius: 11px 11px 11px 11px;
    align-items: center;
}

.filtre_item {
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
    align-items: center;
}

.filtre {
    display: flex;
    flex-flow: row nowrap;
    color: #0065FC;
    border-radius: 70px 70px 70px 70px;
    align-items: center;
    text-align: center;
    border: solid #F2F2F2 3px;
    width: 13%;
    height: 10%;
    border-left: 0.2px;
    font-weight: bold;
}

.filtre a:hover {
    color: #0065FC;
}

.economique {
    background-color: #DEEBFF;
    border-radius: 70px 70px 70px 70px;
    padding: 5%;
}

.familial {
    background-color: #DEEBFF;
    border-radius: 70px 70px 70px 70px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 6%;
    padding-right: 6%;
}

.romantique {
    background-color: #DEEBFF;
    border-radius: 70px 70px 70px 70px;
    padding: 5%;
}

.animaux {
    background-color: #DEEBFF;
    border-radius: 70px 70px 70px 70px;
    padding: 5%;
}

.info {
    
}

#info-logements {

}

.footer {
    font-family: 'Raleway', Arial, Helvetica;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}